<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold text-xl-center pb-3 mb-5">Contact Us</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row mb-5">
      <div class="col-md-12">
        <h4>{{ contact.name }}</h4>
        <p class="mb-0">{{ contact.title }}</p>
        <p class="mb-0 four" href="https://emia.hkust.edu.hk/">{{ contact.department }}</p>
        <p class="mb-0">{{ contact.institution }}</p>
        <p class="mb-0">{{ contact.institution_address }}</p>
        <p class="mb-0">Phone: {{ contact.phone }}</p>
        <p class="mb-0">Email: {{ contact.email }}</p>
        <p class="mb-0">Office: {{ contact.office }}</p>
      </div>
      <!--<div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>-->
    </div>
    {% endfor %}
  </div>
</div>
