<div class="row g-5 mb-5">
  <div class="col-md-12">
    {% if page.title == "Home" %}
      <h3 class="fw-bold">Recent News</h3>
      {% for post in site.posts limit: site.number_of_posts %}
        <p class="mb-1"><span class="fw-bold">{{ post.date | date: "%B %-d, %Y" }} </span><a href="{{ post.url }}">{{ post.title }} >></a></p>
      {% endfor %}
      <p class="mt-1 fst-italic"><a href="/news">read more news</a></p>
    {% else %}
      <h3 class="fw-bold text-xl-center mb-3">News</h3>
      {% for post in site.posts %}
        <p class="mb-3"><span class="fw-bold">{{ post.date | date: "%B %-d, %Y" }} </span><a href="{{ post.url }}">{{ post.title }} >></a></p>
        <span>{{ post.content }}</span>
      {% endfor %}
    {% endif %}
  </div>
</div>
