<div class="row g-5 mb-5">
  <div class="col-md-12">
    {% if page.title == "Home" %}
      <h3 class="fw-bold">Featured Publications</h3>
      {% for item in site.data.publications.featured %}
        <p class="mb-1">
          <span class="fw-bold">{{ item.name }}. </span><span class="fst-italic">{{ item.journal }} </span><a href="{{ item.url }}">[pdf]</a>
        </p>
      {% endfor %}
    {% else %}
      <h3 class="fw-bold">Publications</h3>
      {% for item in site.data.publications.index %}
        <p class="mb-1"><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %}
    {% endif %}
  </div>
</div>
