---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold text-xl-center mb-3">Our Vision</h3>
    {{ content }}
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold text-xl-center mb-3">Research</h3>
    <div class="grid-container border-bottom mt-3">
      <div class="grid-item">
        <h6 class="fw-bold">Multiscale computation</h6>
        <p>
          We put forward a general synthetic iterative scheme (GSIS) for solutions of kinetic equations and reconstructing multiscale gas/phonon transport phenomena reliably. The scheme has merits of fast convergence and asymptotic preserving, and can reduce consuming of computational resources by several orders of magnitude.
        </p>
      </div>
      <div class="grid-item"><img class="rect_image" src="/assets/img/HeatConduction.png"></div>
    </div>
    <div class="grid-container border-bottom mt-3">
      <div class="grid-item">
        <h6 class="fw-bold">Discontinuous Galerkin method</h6>
        <p>
        We develop optimal solution strategies for the high-order discontinuous Galerkin methods that are adopted in in the GSIS, to make the simulation tool robust and economical for practical enegineering-design simulations.
        </p>
      </div>
      <div class="grid-item"><img class="rect_image" src="/assets/img/Square_G_F.png"></div>
    </div>
    <div class="grid-container border-bottom mt-3">
      <div class="grid-item">
        <h6 class="fw-bold">Physics of rarefied gas dynamics/non-Fourier heat conduction</h6>
        <p>
        We utilise the developed methods and models to enable <span class="fst-italic">a priori</span> solutions of rarefied gas dynamics/non-Fourier heat conduction encountered in emerging multiscale technologies such as lab-on-chip devises, carbon neutrality, next-generation vacciunes, micro air vehicles, and high-altitude flights.
        </p>
      </div>
      <div class="grid-item"><img class="rect_image" src="/assets/img/non-Fourier.png"></div>
    </div>
    <div class="grid-container border-bottom mt-3">
      <div class="grid-item">
        <h6 class="fw-bold">Thermo-chemical ralaxation</h6>
        <p>
        We develop sophisticated numerical methods to understand the nonequilibirum thermo-chemical relaxation that dictate the flow dynamics aournd re-entry capsules, allowing optimal designs of aerodynamic shape and heat shield.
        </p>
      </div>
      <div class="grid-item"><img class="rect_image" src="/assets/img/Fig1a.png"></div>
    </div>

    <p class="mt-2 fst-italic"><a class="four" href="/research">read full research topics</a></p>
  </div>
</div>


{% include publications.html %}

{% include news.html %}
