---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
<h3 class="fw-bold text-xl-center mb-1">Research Team</h3>
<h5 class="fw-bold">Primary Investigator</h5>
{% for person in site.data.people.PI %}
  <div class="col-md-6">
    <img class="circular--square" src="{{ person.image }}" />
    <h5>{{ person.name }}</h5>
    <p>Email: {{ person.email }}</p>
    <p>Phone: {{ person.phone }}</p>
    <p><a href="{{ site.github.url }}/people/{{ person.url }}">More info</a></p>
  </div>
{% endfor %}
</div>

