---
layout: default
---

{{ content }}

<div class="row g-5 mb-3">
<div class="col-md-12">
  <h3 class="fw-bold text-xl-center mb-3">Research Team</h3>
  <h5 class="fw-bold mb-3">Principal Investigator</h5>
  {% for person in site.data.people.PI %}
  <div class="col-md-4">
    <div class="circular_image"><img src="{{ person.image }}" /></div>
    <p class="mb-0 fw-bold">{{ person.name }}</p>
    <p class="mb-0">{{ person.title }}</p>
    <p class="mb-0">{{ person.degree }}</p>
    <p class="mb-0">Email: {{ person.email }}</p>
    <p class="mb-0">Phone: {{ person.phone }}</p>
    <p class="mb-0">Room : {{ person.office }}</p>
    <p class="mb-0">More info: <a class="four" href="{{ person.cv }}">Full CV </a><a class="four" href="{{ person.googlescholar }}"><i class="fab fa-google"></i> </a><a class="four" href="{{ person.researchgate }}"><i class="fab fa-researchgate"></i> </a><a class="four" href="{{ person.linkdin }}"><i class="fab fa-linkedin"></i></a></p>
  </div>
{% endfor %}
  <h5 class="fw-bold text-xl-center mb-1"><a class="four" href="/vacancies">Join Us</a></h5>
</div>
</div>

