---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold mb-3">Open Positions</h3>
    <p class="mb-3">Two funded positions for PhD students are available in our group. Please drop me an email if you are interested. Applicants with solid backgrounds in (one or more) areas of physics, applied mathematics, aerospace engineering, aerothermodynamics, rarefied gas dynamics and CFD are highly welcome.</p>
    <p class="mb-3">The PhD program is within the Individualised Interdisciplinary Program (IIP), which is designed for students who have well-articulated research gooals that cannot be achieved through established research postgraduate programs. It aims to create and organic study curriculum pattern to facilitate students' intellectual growth, exploration into novel research direction, and a long term commitment in an interdisciplinary research field. Learn more about the <a class="four" href="https://prog-crs.hkust.edu.hk/pgprog/2022-23/mphil-phd-iip">program</a>.</p>
    <p class="mb-3">HKUST ranked 34 in QS World University Rankings 2022. The PhD program duration is three years for applicants with a relevant research master's degree and four years for those without a research master's degree. Applicants should score well in their major courses and meet the English Proficiency Requirements.</p>
    <p class="mb-3">Applicants with a strong resume can also consider the <a class="four" href="https://cerg1.ugc.edu.hk/hkpfs/index.html">HK PhD Fellowship Scheme</a>.</p>
  </div>
</div>